body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

#franchiseSelect {
    max-height: 200px;
    overflow-y: auto;
}

#game-mode {
    margin-top: 20px;
}

#choices .list-group-item-action {
    cursor: pointer;
}

.form-range::-webkit-slider-thumb {
  background-color: #0d6efd; /* dark blue */
}

.form-range::-moz-range-thumb {
  background-color: #0d6efd; /* dark blue */
}

.form-range::-webkit-slider-runnable-track {
  background-color: #a0c4ff; /* light blue */
}

.form-range::-moz-range-track {
  background-color: #a0c4ff; /* light blue */
}